<div class="content_box">
	<div style="text-align: center;">
		<div style="width: 100%; display: block; margin-bottom: 10px;">
			<%= image_tag '/images/feeling_proud.svg', :style => 'width: 200px;', :alt => "mail error" %>
		</div>

		<span dir="rtl">
			مقاله شما با موفقیت ثبت شد
			<br>
			<% if published %>
				و بعد از تایید موسس قابل مشاهده خواهد بود.
			<% end %>
		</span>
	</div>
</div>