<div class="content">
		<h2 class="container_title bb">مقاله های من (<%= @my_articles.length %>)</h2>
		<% if @my_articles.length > 0 %>
		<div class="listed_cards mini_list">
		    <% @my_articles.each do |art| %>
		    	<%= render 'articles/article_card', art: art, show_publish_banner: true %>
			<% end %>
		</div>
		<% else %>
			<span style='color: #777; font-size: 14px; width: 100%; display: block; text-align: center; padding: 20px 0'>مقاله ای پیدا نشد.</span>
		<% end %>
    </div>