<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@200;300;400&family=Poppins:wght@200;300&display=swap');
    </style>
  </head>
  <body>
    <p style="font-family: 'Poppins', 'Noto Sans Arabic'; text-align: right; color: #444; font-size: 15px;" dir="rtl">
      سلام <%= @user.full_name %> عزیز<br>
      اکانت شما با موفقیت ساخته شد<br>
      نام کاربری شما: <%= @user.username %><br>
      برای تایید ایمیل روی این <%= link_to 'لینک', 'https://devsparkle.ir/users/confirm_account/' + @user.confirm_token, :style => "color: blue; font-family: 'Noto Sans Arabic';" %> کلیک کنید<br>
      ممنون از اینکه سایت مارا انتخاب کردید <br>
      روز خوبی داشته باشید. <br>
    </p>
  </body>
</html>