<div class="container" style="top: 0">
    <div class="content">
        <div dir="rtl">
            <%= form_with url: '/search/submit_q', method: :post do |f| %>
                 <div class="search-search-box default-color">
                    <div class="input">
                        <%= f.text_field :search_q, :placeholder => "جست و جو کنید!" %>
                        <button class="submit-button">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                    </div>
                </div>
            <% end %>
        </div>
        <% if @search_result != nil %>
            <% @search_result.each do |s| %>
                <h1><%= s["header"] %></h1> <br>
            <% end %>
        <% end %>
    </div>
</div>

