<div class="form center_form form-large">
    <div style="text-align: center;">
		<div style="width: 100%; display: block; margin-bottom: 10px;">
			<%= image_tag '/images/feeling_proud.svg', :style => 'width: 200px;', :alt => "mail error" %>
		</div>

		<span dir="rtl">
			مقاله شما با موفقیت حذف شد.
		</span>

        <div style="width: 100%; display: block; margin-top: 20px">
            <%= link_to "صفحه مقالات", articles_index_url, :class => 'btn btn-primary' %>
        </div>
	</div>
</div>