<div class="container" style="top: 0">
    <div class="content">
		<h2 class="container_title bb">مقالات</h2>

		<% if @articles.length > 0 %>
		<div id="articles_list">
		    <% @articles.each do |art| %>
				<a>
					<div class='article_box'>
						<div class='image cover'>
							<%#= image_tag art.image.variant(:thumb), :onload => 'imagePreloader(this)' %>
							<%= image_tag art.image.variant(:thumb) %>
						</div>
						<h3 class='title'><%= art.header %></h3>
						<p class='desc'><%= art.cover_text %></p>
						<div class='footer' style='display: flex; justify-content: space-between' dir='ltr'>
							<div>
								<span class='author'>
									طاها دوستی فام
									<span class='icon'>
										<ion-icon name='person-outline'></ion-icon>
									</span>
								</span>
							</div>
							<div>
								<span class='comments_count'>
									2
									<span class='icon'>
										<ion-icon name='chatbubble-outline'></ion-icon>
									</span>
								</span>
								<span class='article_submit_time'>
									<%= art.created_at %>
									<span class='icon'>
										<ion-icon name='calendar-outline'></ion-icon>
									</span>
								</span>
							</div>
						</div>
					</div>
				</a>
			<% end %>
		</div>
		<% else %>
			<span style='color: #777; font-size: 14px; width: 100%; display: block; text-align: center; padding: 20px 0'>مقاله ای پیدا نشد.</span>
		<% end %>
    </div>
</div>