<div id="home_intro">
    <div class="title">
        <h1>آموزش های پروژه محور و حرفه ای</h1>
        <h3 style="margin-top: 15px;">
            از ۰ تا ۱۰۰ با ویدیو های با کیفیت + سورس کد
        </h3>
    </div>

    <!-- top courses slider -->

    <div id="home-intro-search-box">
        <div class="input input-bold">
            <input type="text" placeholder="جست و جو کنید!">
            <button class="submit-button">
                <ion-icon name="search-outline"></ion-icon>
            </button>
        </div>
    </div>

    <a href="#home_intro" id="goto_down_button" class="btn btn-none">
        <ion-icon name="arrow-down-outline"></ion-icon>
    </a>
</div>