<div class="form center_form" style="padding-top: 20px;">
    <div style="text-align: center;">
        <div style="width: 100%; display: block; margin-bottom: 10px;">
            <%= image_tag '/images/secure_account.svg', :style => 'width: 320px;', :alt => "mail sent" %>
        </div>

        <span dir="rtl">گذرواژه شما با موفقیت تغییر کرد.</span>

        <div style="width: 100%; display: block; margin-top: 18px; margin-bottom: 10px;">
            <%= link_to 'صفحه ورود', users_signin_path, :class => "btn btn-primary btn-large-padding" %>
        </div>
    </div>
</div>