<div class="container" style="top: 0">
	<div class="content">
		<h2 class="container_title bb">دوره های آموزشی</h2>
		<% if @courses.length > 0 %>
		<div class="listed_cards">
			<% @courses.each do |co| %>
				<%= render 'courses/course_card', co: co, show_publish_banner: false %>
			<% end %>
		</div>
		<% else %>
			<span style='color: #777; font-size: 14px; width: 100%; display: block; text-align: center; padding: 20px 0'>دوره ای پیدا نشد.</span>
		<% end %>
	</div>
</div>