.btn{
	position: relative;
	cursor: pointer;
	font-family: 'Poppins', 'Samim';
	font-size: 14px;
	border: none;
	border-radius: 6px;
	padding: 10px 15px;
	padding-bottom: 11px;
	color: #000;
	width: max-content;
	&.btn-secondary{
		color: #ddd;
		&.active, &.active:hover{
			background: #1b1f25;
		}
		&:hover{
			background: #333942;
		}
		&.btn-mute{
			&.active {
				background: transparent;
				color: #ddd;
			}	
		}
	}
	&.btn-primary{
		background: #252b33;
		color: #fff;
		&:active{
			background: #003cff;
		}
		&.btn-mute{
			&:hover, &:focus, &.active {
				background: #252b33;
				color: #fff;
			}	
		}
	}
	&.btn-large-padding{
		padding: 10px 25px;
	}
	&.btn-danger{
		background: rgb(255, 23, 23);
		color: #fff;
		&:active{
			background: rgb(223, 14, 14);
		}
		&.btn-mute{
			&:hover, &:focus, &.active {
				background: rgb(255, 23, 23);
				color: #fff;
			}	
		}
	}
	&.btn-success{
		background: rgb(6, 165, 46);
		color: #fff;
		&:active{
			background: rgb(4, 121, 33);
		}
		&.btn-mute{
			&:hover, &:focus, &.active {
				background: rgb(6, 212, 58);
				color: #fff;
			}	
		}
	}
}
.btn-none{
	background: transparent;
	border: none;
	color: #777;
}