.btn{
	position: relative;
	cursor: pointer;
	font-family: 'Poppins', 'Samim';
	font-size: 14px;
	border: none;
	border-radius: 6px;
	padding: 10px 15px;
	padding-bottom: 11px;
	color: #000;
	width: max-content;
	&.btn-secondary{
		color: #ddd;
		&:hover, &:focus, &.active {
			background: rgb(17, 24, 39);
			color: #fff;
		}
		&.btn-mute{
			&:hover, &:focus, &.active {
				background: transparent;
				color: #ddd;
			}	
		}
	}
	&.btn-primary{
		transition: 0.3s ease;
		background: #252b33;
		color: #fff;
		&:hover{
			background: #003cff;
		}
		&.btn-mute{
			&:hover, &:focus, &.active {
				background: #252b33;
				color: #fff;
			}	
		}
	}
	&.btn-large-padding{
		padding: 10px 25px;
	}
}