$panel_width: 300px;
#dashboard_panel{
    float: right;
    display: inline-block;
    width: $panel_width;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
    .covered_avatar{
        width: 100%;
        padding: 30px 10px;
        .block_avatar{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            .avatar{
                position: relative;
                left: 50%;
                transform: translate(-50%);
                display: block;
                --size: 80px;
                width: var(--size);
                height: var(--size);
                background: #252b33;
                border-radius: 50%;
                font-size: 25px;
                color: #fff;
                padding-top: 23px;
            }
            .value{
                display: block;
                margin-top: 15px;
            }
            .link{
                color: #777;
                font-family: 'Samim';
                font-size: 13px;
            }
        }
    }
    #dashboard_nav{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 90%;
        padding: 5px;
        display: block;
        text-align: right;
        border-top: 1px solid #f1f1f1;
        .link{
            display: block;
            width: 100%;
            color: #777;
            font-family: 'Samim';
            font-size: 14px;
            line-height: 30px;
            transition: none;
        }
    }
}
#dashboard_content{
    .content_box{
        box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
        background: #fff;
        border-radius: 7px;
        padding: 20px;
        .form{
            box-shadow: none;
            padding: 0;
            margin: 0;
        }
        .header{
            font-size: 17px;
            width: 100%;
            display: block;
            color: rgb(85, 85, 85);
        }
    }
    padding-bottom: 40px;
    width: calc(100% - #{$panel_width} - 20px);
}
@media screen and (max-width: 1100px) {
    #dashboard_panel{
        float: none;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    #dashboard_content{
        display: block;
        width: 100%;
    }
}