#home_intro {
    position: relative;
    width: 100%;
    display: block;
    height: 500px;
    background: #252b33;
    .title {
        width: 100%;
        text-align: center;
        padding-top: 80px;
        font-family: 'Samim';
        h1 {
            font-size: 40px;
        }
        h3 {
            color: #cbcbcb;
        }
        color: #fff;
    }
    @media screen and (max-width: 600px) {
        .title {
            h1 {
                font-size: 6vw;
            }
            h3 {
                font-size: 4vw;
            }
        }
    }
    .search-box {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 800px;
        margin-top: 40px;
        input {
            direction: rtl;
            text-align: right;
        }
    }
    @media screen and (max-width: 950px) {
        .search-box {
            width: 600px;
            margin-top: 40px;
        }
    }
    @media screen and (max-width: 650px) {
        .search-box {
            width: 85%;
            margin-top: 40px;
        }
    }
    #goto_down_button {
        color: #003cff;
        font-size: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        display: block;
        margin-top: 93px;
        animation-name: goto_down_animation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }
}

@keyframes goto_down_animation {
    0% {
        padding-top: 0;
    }
    50% {
        padding-top: 15px;
    }
    100% {
        padding-top: 0;
    }
}

@media screen and (max-width: 650px) {
    #home_intro {
        height: 420px;
        #goto_down_button {
            margin-top: 40px;
        }
    }
}

#home_content {
    top: 0;
    text-align: right;
}

#footer {
    width: 100%;
    height: 50px;
    background: #252b33;
    margin-top: 40px;
    .center-text {
        width: 100%;
        text-align: center;
        display: block;
        padding: 12px 0;
        color: #fff;
    }
}