$header_height: 80px;

/*
FARDiplomat: Paragraphs;
Gandom: Headers;
Samim: Other;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    background: #edeef0;
    font-family: "Poppins", "Samim";
    a {
        text-decoration: none;
    }
    .link {
        color: #777;
        font-family: "Poppins", "Gandom";
        font-size: 16px;
        transition: 0.3s ease;
        cursor: pointer;
        &.link-danger{
            color: rgb(255, 11, 11);
        }
        &.link-general{
            color: #003cff;
        }
    }
}
.turbolinks-progress-bar {
    height: 3px;
    background-color: #003cff;
}
#header {
    position: fixed;
    z-index: 70;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: $header_height;
    background: #252b33;
    color: #dadada;
    // rtl
    // direction: rtl;
    #brand {
        position: relative;
        top: 17px;
        left: 15px;
        color: #003cff;
        font-family: "Comfortaa";
        padding: 6px 5px;
        display: inline-block;
        cursor: pointer;
        z-index: 85;
    }
    #navbar {
        position: relative;
        top: 17px;
        // rtl
        float: right;
        padding-right: 22px;
        width: calc(100% - 215px);
        height: 45px;
        align-items: center;
        justify-content: space-between;
        direction: rtl;
        transition: left 0.25s ease;
        .inline_avatar {
            top: 1px;
            padding-right: 5px;
        }
        .btn{
            display: inline-block;
        }
    }
}
#toggle_menu_button{
    cursor: pointer;
    position: absolute;
    right: 19px;
    top: 18px;
    width: 45px;
    height: 45px;
    border-radius: 7px;
    padding: 3px;
    padding-top: 2px;
    z-index: 85;
    span{
        width: 100%;
        height: 4px;
        display: block;
        background-color: #003cff;
        margin: 7px 0;
    }
}
 @media screen and (min-width: 700px) {
    .navbar{
        display: flex;
    }
    #bottom_navigator{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .navbar{
        display: none;
    }
    #header #brand{
        width: 100%;
        text-align: center;
        left: 0;
    }
    #bottom_navigator{
        display: block;
    }
}
#bottom_navigator{
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 65px;
    background: #252b33;
    z-index: 80;
    #bottom_navigator_nav{
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        a{
            color: #dadada;
        }
        .active{
            color: #003cff;
        }
        .item{
            width: 80px;
            .icon{
                position: relative;
                top: 6px;
                font-size: 24px;
            }
            .text{
                position: relative;
                bottom: 3px;
                font-size: 13px;
            }
            &.active{
                
            }
            &.item-center{
                color: #fff;
                &.active{
                    color: #fff;
                }
                position: relative;
                top: -34px;
                background: #003cff;
                border-radius: 17px;
                .icon{
                    top: 12px;
                }
                --size: 50px;
                width: var(--size);
                height: var(--size);
            }
        }
    }
}
#page_content {
    margin-top: $header_height;
}
.sepa {
    position: relative;
    content: "";
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #ddd;
}
.link_row {
    .link {
        width: 100%;
        display: block;
    }
}
h1,
h2,
h3,
h4,
h5,
b,
span,
small {
    direction: rtl;
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    top: $header_height;
    padding: 20px 90px;
    .container_title {
        font-size: 27px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        &.bb{
            border-bottom: 1px solid #ddd;
        }
    }
    margin-bottom: 60px;
}
@media screen and (max-width: 1100px) {
    .container {
        padding: 20px 20px;
    }
}
.inline_avatar {
    position: relative;
    .avatar,
    .value {
        display: inline-block;
    }
    .avatar {
        --size: 45px;
        width: var(--size);
        height: var(--size);
        background: rgb(17, 24, 39);
        border-radius: 50px;
        text-align: center;
        padding-top: 10px;
    }
    .value {
        margin-right: 7px;
    }
}
.flex_row{
    display: flex;
    flex: 1 0;
    div{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .flex_row {
        display: block;
        div{
            width: 100%;
        }
    }
}
.popup_alert_box{
    position: fixed;
    width: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    box-shadow: none;
    --box-size: 400px;
    min-height: var(--box-size);
    .close_button{
        font-size: 25px;
        position: absolute;
        right: 3px;
        padding: 10px;
        height: 45px;
        top: 3px;
        color: #000;
        cursor: pointer;
    }
    .content{
        width: 100%;
        height: var(--box-size);
        justify-content: center;
        display: flex;
        align-items: center;
    }
}
.center_recaptcha{
    height: 76px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 15px 0;
    display: block;
    width: max-content;
}