<!DOCTYPE html>
<html>
  <head>
    <title>devsparkle.ir</title>
    <%= render 'layouts/tags' %>
  </head>
  <body>
    <div id="app">
      <%= render 'layouts/header' %>
      <div id="page__content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
